name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2    
    - uses: azure/docker-login@v1
      with:
          login-server: ${{ secrets.CONTAINER_REGISTRY }}
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker build -t ${{ secrets.CONTAINER_REGISTRY }}/aks-12-factor-microservice:$GITHUB_SHA .
        docker push ${{ secrets.CONTAINER_REGISTRY }}/aks-12-factor-microservice:$GITHUB_SHA
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev
    needs: build
    steps:
    - uses: actions/checkout@v2       
    - uses: azure/setup-kubectl@v1
    - uses: azure/setup-helm@v1
    - uses: azure/aks-set-context@v1
      with:
          creds: '${{ secrets.AZURE_CREDENTIALS }}'
          cluster-name: techbeeraks
          resource-group: 12-factors
    - run: >
        helm upgrade -i --atomic -n ${{ secrets.NAMESPACE }}
        --set image.repository=${{ secrets.CONTAINER_REGISTRY }}/aks-12-factor-microservice
        --set image.tag=${{ github.sha }}
        --set config.ConnectionStrings__TodoContext=${{ secrets.PG_CONNECTION_STRING }}
        todo-microservices ./helm
        
    